/* mobile */
@media screen and (max-width: 500px) {
#search-bar-container{
    justify-content: center;
    flex-direction: column;
    display:flex
}
.MuiInputBase-root{
    padding-left: 0px !important;
}
#search-bar{
    width:50vw;
    height:25px;
}

#search-button{
    height:40px;
    margin-top: 15px;
}
}
/* tablets, laptops, desktops */
@media screen and (min-width: 501px) {
#search-bar{
    width:70vw;
}

#search-button{
    height:50px;
    margin-left: 10px;
    margin-top: 3px;
}

.MuiInputBase-root{
    padding-left: 0px !important;
}
}

/* Moved from sx: TextField input and outline */
.searchbar-textfield .MuiInputBase-input {
  color: white;
  padding-left: 10px;
}
.searchbar-textfield .MuiOutlinedInput-root > fieldset,.searchbar-textfield .MuiOutlinedInput-root:hover > fieldset,.searchbar-textfield .MuiOutlinedInput-root.Mui-focused > fieldset {

  border-color: rgba(255,255,255,0.5);
}

.searchbar-select-control .MuiSelect-select,.searchbar-select-control .MuiSvgIcon-root,.searchbar-select-control .MuiInputLabel-root.Mui-focused, .searchbar-select-control .MuiInputLabel-root {
  color: white;
}
.searchbar-select-control .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Menu Paper from MenuProps */
.searchbar-menu-paper {
  background-color: black !important;
  color:white !important;
}