/* mobile */
@media screen and (max-width: 500px) {
#search-bar-container{
    justify-content: center;
    flex-direction: column;
    display:flex
}
.MuiInputBase-root{
    padding-left: 0px !important;
}
#search-bar{
    width:50vw;
    height:25px;
    color:white;
}
#select{
    height: 100%;
    color: white;
}

#search-button{
    height:40px;
    margin-top: 15px;
    background-color: #228be6;
}
}
/* tablets, laptops, desktops */
@media screen and (min-width: 501px) {
#search-bar{
    width:70vw;
    color:white;
}
#select{
    height: 15px;
    color: white;
}

#search-button{
    height:50px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #228be6;
}

.MuiInputBase-root{
    padding-left: 0px !important;
}
}

/* Moved from sx: TextField input and outline */
.searchbar-textfield .MuiInputBase-input {
  color: white;
  padding-left: 10px;
}
.searchbar-textfield .MuiOutlinedInput-root > fieldset {
  box-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  border-color: rgba(255,255,255,0.5);
}
.searchbar-textfield .MuiOutlinedInput-root:hover > fieldset {
  border-color: rgba(255,255,255,0.5);
}
.searchbar-textfield .MuiOutlinedInput-root.Mui-focused > fieldset {
  border-color: rgba(255,255,255,0.5);
}

/* Moved from sx: Select/FormControl styling */
.searchbar-select-control .MuiInputLabel-root {
  color: white;
}
.searchbar-select-control .MuiInputLabel-root.Mui-focused {
  color: white;
}
.searchbar-select-control .MuiSelect-select {
  color: white;
}
.searchbar-select-control .MuiSvgIcon-root {
  color: white;
}
.searchbar-select-control .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.5);
}
.searchbar-select-control .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.5);
}
.searchbar-select-control .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255,255,255,0.5);
}

/* Remove box shadow from Select only */
.searchbar-select-control .MuiOutlinedInput-root > fieldset,
.searchbar-select-control .MuiOutlinedInput-notchedOutline {
  box-shadow: none !important;
}

/* Menu Paper from MenuProps */
.searchbar-menu-paper {
  background-color: black !important;
}