

/* mobile */
@media screen and (max-width: 500px) {
#search-bar-container{
    justify-content: center;
    flex-direction: column;
    display:flex
}
#search-bar{
    width:50vw;
    height:25px;
    color:white;
}
#select{
    height: 25px;
    color: white;
}
#form-control{
    margin-top: 15px;
}

#search-button{
    height:40px;
    margin-top: 15px;
    background-color: #228be6;
}
}
/* tablets, laptops, desktops */
@media screen and (min-width: 501px) {
#search-bar{
    width:70vw;
    color:white;
}
#select{
    height: 15px;
    color: white;
}

#search-button{
    height:50px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #228be6;
}

.MuiInputBase-root{
    padding-left: 0px !important;
}
}