.search-bar{
    width:80vw;
    color:white !important;
}
#select{
    height: 25px;
    color: white !important;
}

.search-button{
    height:50px;
    margin-left: 10px !important;
    margin-top: 3px !important;
}