.table-cell{
    padding: 0px !important;
    width: 100px ;
    color:white !important;
}
#table-container{
    margin-top: 5vh;
    width:100vw;
    overflow-y: scroll;
    height:65vh;
}
.result-entry-card{
    background-color:#222222 !important;
    color:white !important;
    display:flex;
    border: 1px solid white !important;
    z-index: 1;
    position: relative;
    width:90%;
    margin-bottom: 20px;
    justify-self: center;
}
.table-row{
    border:none !important;
}
/* mobile */
@media screen and (max-width: 500px) {
.result-entry-card{
    display:block;
}
.result-entry-image{
    justify-self: center;
    margin-top: 15px;
    height: 150px;
    width:150px;
}
}
/* tablets,laptops,desktops */
@media screen and (min-width: 501px) {
.result-entry-image{
    height: 300px;
    width:300px;
}
}