.table-cell{
    padding: 0px !important;
    color:white !important;
}
#table-container{
    margin-top: 5vh;
    width:100vw;
    overflow-y: scroll;
    height:65vh;
}
.result-entry-card{
    background-color:#222222 !important;
    color:white !important;
    display:flex;
    border: 1px solid white !important;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    justify-self: center;
}
.result-entry-content{
    width:100%;
}
.table-row{
    border:none !important;
}
/* mobile */
@media screen and (max-width: 500px) {
.result-entry-card{
    display:block;
    width: 90%;
}
.result-entry-image{
    justify-self: center;
    margin-top: 15px;
    height: 150px;
    width:150px;
}
#inner-table{
    width:80%;
}
}
/* tablets,laptops,desktops */
@media screen and (min-width: 501px) {
.result-entry-card{
    width:75%
}
.result-entry-image{
    height: 300px;
    width:300px;
    margin: 20px 30px 20px 30px;
}
#inner-table{
    width:70%;
}
}