#page{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
	color: #FFF;
	font-weight: 300;
	margin-bottom: 0px;
	font-size: 40px;
	text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
	text-align: center;
  }
  #subtitle {
	color: #FFF;
	margin-top: 0px;
	font-weight: 300;
	font-size: 30px;
	text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
	text-align: center;
  }

