#page{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
	color: #FDD200;
	font-weight: 300;
	margin-bottom: 0px;
	font-size: 40px;
	text-shadow: 1px 1px 10px black, 1px 1px 10px white;
	text-align: center;
  }
  #subtitle {
	color: #FDD200;
	margin-top: 0px;
	font-weight: 300;
	font-size: 30px;
	text-shadow: 1px 1px 10px black, 1px 1px 10px white;
	text-align: center;
  }

  /* mobile */
@media screen and (max-width: 500px) {
  #title {
    font-size: 30px;
  }
  #subtitle {
    font-size: 20px;
  }
}